<div class="panel panel-default">
    <!-- <div class="panel-heading">{{ element.name }}</div> -->
    <!-- LIFECYCLE HOOKS: displaying name from app component. -->
    <!-- LIFECYCLE HOOKS:  Template access: Checking when this element we can access from DOM. -->
    <div class="panel-heading" #heading>{{ name }}</div>
    <div class="panel-body">
        <!-- <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p> -->
        <!-- WORK: ng-content: projecting sometime into the component from the app component -->
        <ng-content></ng-content>
    </div>
</div>