<div class="container">
  <!-- WORK: binding to custom events: we are getting events from cockpit components. -->
<!-- WORK: Assigning an alias to Custom events: -->
  <app-cockpit (serverCreated)="onServerAdded($event)"
  (bpCreated)="onBlueprintAdded($event)"></app-cockpit>
  <hr>
  <!-- WORK: Property binding and event binding: -->

  <!-- <app-server-element *ngFor="let serverElement of serverElements"
  [element]="serverElement"></app-server-element>
</div> -->

  <!-- WORK: Assigning an alias to Custom Properties: -->
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements" [SrvElement]="serverElement">
        <!-- WORK: whatever we add between the app-server-element tags will be lost lost. it's a angular
        default behavior -->
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
      </p>
      </app-server-element>
    </div>
  </div>
</div>