.app--title {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

h1 {
    color: darkblue;
}

h2 {
    color:blueviolet;
}

h3 {
    color:chocolate;
}

.databinding--directives {
    text-align: center;
}