<div class="app--title">
    <p>{{ title }}</p>
</div>


<!-- [(ngModel)] is used for forms inputs where we can listen the user.-->
<div>
    <input type="text" [(ngModel)]="name">
    <p>{{ name }}</p>
</div>

<hr>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <!-- WORK: STYLE : for prefined tag like h1 or p or a. We don't need .h1. Just define as h1-->
            <h1>I'm in the App Component</h1>
            <hr>
            <!-- WORK: Component: Adding selector to render server component-->
            <!-- <app-server></app-server> -->
            
            <!-- WORK: Nested component: Adding servers (parent component)-->
            <app-servers></app-servers>
            <!-- WORK: Selector: using app-servers as a attribute not as an element-->
            <!-- <div app-servers></div> -->
            <!-- WORK: Selector: using app-servers as a css property.
                 NOTE: Selector can be used as a "id" or hover. -->
            <!-- <div class=".app-servers"></div> -->
        </div>
    </div>
</div>
